@using eVote.Core.Application.ViewModels.Candidacy
@model List<CandidacyViewModel>

@{
    ViewData["Title"] = "Asignar Candidato a Puesto";
    Layout = "_LayoutPolitical";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Candidatos Asignados a Puestos</h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-10 col-md-2">
        <a class="btn btn-outline-success" asp-controller="Candidacy" asp-action="Create">Asignar Candidato</a>
    </div>
</div>

<div class="container border rounded p-4" style="margin-top: 20px;">
    <div class="d-flex justify-content-center mt-4">
        <div class="table-responsive" style="max-width: 1300px;">
            <table class="table table-hover text-center align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Candidato</th>
                        <th>Puesto Electivo</th>
                        <th>Fecha de Registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="4" class="text-center">
                                <h5>No hay candidatos asignados a puestos</h5>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Candidate?.FirstName @item.Candidate?.LastName</td>
                                <td>@item.ElectivePosition?.Name</td>
                                <td>@item.RegistrationDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" asp-controller="Candidacy" asp-action="Delete" asp-route-id="@item.Id">  Elimina </a>
                                </td>
                            </tr>
                        }
                    } 
                </tbody>
            </table>
        </div>
    </div>
</div>
